body {
    font-family: 'Inter', sans-serif;
}

header {
    padding-top: 32px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 30px;
    padding-left: 30px;
}

#logo {
    height: 34px;
}

nav {
    display: none;
}

section {
    display: flex;
}

.text {
    margin-top: 30px;
    padding-left: 30px;
}

.text p:nth-of-type(1) {
    color: #FF3998;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.1em;
}

.text p:nth-of-type(2) {
    color: black;
    font-size: 48px;
    font-weight: 900;
    line-height: 58px;
    margin: 0;
}

.text p:nth-of-type(3) {
    color: black;
    font-size: 20px;
    font-weight: 400;
    line-height: 150%;
}

button {
    background-color: white;
    border-radius: 40px;
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    text-align: center;
    width: 188px;
    height: 75px;
    border-color: #FF8139;
    margin-top: 20px;
}

.upsell {
    background-color: #FF3998;
    background-image: linear-gradient(to top right, #FF3998, #FF3939, #FF8139, #39FFA0);
    max-width: 100%;
    height: 320px;
    flex-direction: column;
    padding-left: 0;
}

.early-birds p:first-child {
    font-size: 40px;
    font-weight: 500;
    line-height: 48px;
    color: #111111;
    padding-left: 30px;
    margin-top: 150px;
    margin-bottom: 10px;
}

.early-birds p:last-child {
    font-size: 20px;
    font-weight: 400;
    line-height: 150%;
    color: #111111;
    padding-left: 30px;
}

.press {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 30px;
    padding: 40px 0;
    max-width: auto;
    padding-left: 30px;
}

.press a.openDoor {
    display: none;
}

.auction p:first-child {
    font-size: 40px;
    font-weight: 500;
    line-height: 48px;
    color: #111111;
}

.auction p:last-child {
    font-size: 20px;
    font-weight: 400;
    line-height: 150%;
    color: #111111;
    padding-right: 30px;
}

.auction p span {
    text-decoration: underline;
}

.showcase {
    display: block;
    padding-left: 30px;
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    background-color: #EEEEEE;
    gap: 50px;
    width: 290px;
    height: 400px;
    border-radius: 16px;
}

.cardpurple,
.cardbeige,
.cardred,
.cardgreen {
    background-color: #EEEEEE;
    border-radius: 16px;
}

.cards img {
    object-fit: cover;
    object-position: 100% 0;
    object-position: 0 100%;
    position: relative;
}

.text-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 20px;
}

.left-part {
    margin-left: 20px;
}

.right-part {
    text-align: end;
    margin-right: 20px;
}

.gloop {
    color: #FF8139;
    font-weight: 500;
    font-size: 12px;
    line-height: 100%;
}

.man {
    color: #111111;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
}

.code .time {
    color: #777777;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
}

.top {
    color: #777777;
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
}

.price {
    color: #111111;
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    margin-left: 10px;
}

.footer-upsell {
    margin-top: 80px;
    margin-bottom: 50px;
    display: flex;
    border-top-style: solid;
    border-top-color: #EEEEEE;
    border-bottom-style: solid;
    border-bottom-color: #EEEEEE;
}

.footer-upsell .text {
    width: 40%;
}

.footer-upsell p:first-child {
    margin-top: 60px;
}

.footer-upsell img {
    margin-top: 170px;
    padding-left: 60px;
}

.footer-content-container {
    padding: 32px;
}

.right {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 30px;
    margin-top: 30px;
}

h6 {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.1em;
    color: #555555;
}

.right p {
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    color: #555555;
}

.footer-content-1 {
    align-items: flex-start;
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
}

.social-icons a {
    display: inline;
    margin-right: 10px;
}

.footer-content-container a {
    text-decoration: none;
    color: #999999;
}

.footer-bottom {
    margin: 0 auto;
    padding-left: 30px;
    padding-bottom: 50px;
    display: flex;
    justify-content: flex-end;
    height: 100px;
    font-size: 20px;
    font-weight: 400;
    line-height: 100%;
    color: #999999;
}

.launching {
    display: none;
}

.copyright {
    flex: 1;
}


@media all and (min-width: 577px) {
    header {
        padding-top: 32px;
        padding-bottom: 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .container {
        padding-left: 50px;
        padding-right: 50px;
    }

    #logo {
        height: 34px;
    }

    nav {
        display: flex;
    }

    #page-links li {
        display: inline-block;
        margin: 0 10px;
    }

    #burger {
        display: none;
    }

    #page-links a {
        text-decoration: none;
        font-weight: 400;
        font-size: 20px;
        line-height: 20px;
    }

    #page-links #features {
        color: #555555;
    }

    #page-links #about {
        color: #555555;
    }

    #page-links #launch {
        color: #555555;
    }

    #page-links #signup {
        color: #FF3998;
    }

    #page-links li a:hover {
        text-decoration: underline;
    }

    section {
        display: flex;
    }

    .hero img {
        max-width: 100%;
    }

    .text {
        width: 50%;
        margin-top: 70px;
    }

    .text p:nth-of-type(1) {
        color: #FF3998;
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 0.1em;
    }

    .text p:nth-of-type(2) {
        color: black;
        font-size: 96px;
        font-weight: 900;
        line-height: 116px;
        margin: 0;
    }

    button {
        background-color: white;
        border-radius: 40px;
        font-weight: 600;
        font-size: 20px;
        line-height: 150%;
        text-align: center;
        width: 188px;
        height: 75px;
        border-color: #FF8139;
        margin-top: 20px;
    }

    .upsell {
        background-color: #FF3998;
        background-image: linear-gradient(to top right, #FF3998, #FF3939, #FF8139, #39FFA0);
        max-width: 100%;
        height: 320px;
        border-radius: 16px;
        flex-direction: column;
        padding-left: 60px;
    }

    .early-birds p:first-child {
        font-size: 40px;
        font-weight: 500;
        line-height: 48px;
        color: #111111;
        margin-top: 160px;
        margin-bottom: 10px;
    }

    .early-birds p:last-child {
        font-size: 20px;
        font-weight: 400;
        line-height: 150%;
        color: #111111;
    }

    .press {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: auto;
        gap: 70px;
        padding: 90px 0;
        max-width: auto;
    }

    .press a.openDoor {
        display: grid;
    }

    .auction p:first-child {
        font-size: 40px;
        font-weight: 500;
        line-height: 48px;
        color: #111111;
    }

    .auction p:last-child {
        font-size: 20px;
        font-weight: 400;
        line-height: 150%;
        color: #111111;
    }

    .auction p span {
        text-decoration: underline;
    }

    .showcase {
        display: block;
    }

    .cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: auto;
        background-color: #EEEEEE;
        gap: 50px;
        width: 290px;
        height: 400px;
        border-radius: 16px;
    }

    .cardpurple,
    .cardbeige,
    .cardred,
    .cardgreen {
        background-color: #EEEEEE;
        border-radius: 16px;
    }

    .cards img {
        object-fit: cover;
        object-position: 100% 0;
        object-position: 0 100%;
        position: relative;
    }

    .text-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        gap: 20px;
    }

    .left-part {
        margin-left: 20px;
    }

    .right-part {
        text-align: end;
        margin-right: 20px;
    }

    .gloop {
        color: #FF8139;
        font-weight: 500;
        font-size: 12px;
        line-height: 100%;
    }

    .man {
        color: #111111;
        font-weight: 500;
        font-size: 20px;
        line-height: 20px;
    }

    .code,
    .time {
        color: #777777;
        font-weight: 400;
        font-size: 18px;
        line-height: 100%;
    }

    .top {
        color: #777777;
        font-weight: 400;
        font-size: 12px;
        line-height: 100%;
    }

    .price {
        color: #111111;
        font-weight: 500;
        font-size: 20px;
        line-height: 100%;
        margin-left: 10px;
    }

    .footer-upsell .text p:nth-of-type(2) {
        color: black;
        font-size: 56px;
        font-weight: 900;
        line-height: 68px;
        padding-right: 20px;
    }

    .footer-upsell img {
        margin-top: 100px;
        padding-left: 400px;
    }

    .footer-content-container {
        padding: 32px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .right {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: auto;
        gap: 70px;
    }

    h6 {
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 0.1em;
        color: #555555;
    }

    .right p {
        font-weight: 400;
        font-size: 20px;
        line-height: 100%;
        color: #555555;
    }

    .footer-content-1 {
        align-items: flex-start;
        font-weight: 400;
        font-size: 20px;
        line-height: 100%;
    }

    .social-icons a {
        display: inline;
        margin-right: 10px;
    }

    .footer-content-container a {
        text-decoration: none;
        color: #999999;
    }

    .footer-bottom {
        margin: 0 auto;
        display: flex;
        justify-content: flex-end;
        height: 100px;
        font-size: 20px;
        font-weight: 400;
        line-height: 100%;
        color: #999999;
    }

    .copyright {
        flex: 1;
    }

    .launching {
        display: flex;
    }
}